$border-radius-1: 4px;
$border-radius-2: 6px;

// ------------------- App base colors --------------------- //
$app-white: #fff;
$border-1: #dadfe3;
$border-2: #ECEDF0;
$background-white-primary: #F9FAFC;
$background-grey-primary: #7F8695;
$btn-primary-color: #576BCD;
$box-shadow-color-1: rgba(18, 52, 77, 0.06);