.fields-builder-panel-wrapper {

  .operation-type {
    padding: 0 8px;
  }

  &--active {
    .field-level {
      &::before {
        content: " ";
        background-image: url('/assets/arrow-return.svg');
        position: absolute;
        left: 22px;
        width: 20px;
        height: 24px;
        background-repeat: no-repeat;
        transform: rotate(268deg);
      }
    }
  }

  .fields-builder-second-level {
    margin-top: 16px;
  }

  .field-level {
    margin-left: 32px;
  }

  .field-level-stretch {
    @include flexbox(space-between, center);
  }

  .dependant-fields-wrapper {
    margin-top: 8px;

    .dependant-field-label {
      color: $background-grey-primary;
    }
  }

  // Field Level Styles
  .filter-builder-number-field {
    max-width: 40px;
  }

  .fields-builder-date-field,
  .ember-flatpickr-input {
    width: 96px;
    padding-left: 2px;
    padding-right: 4px;
  }
}