.slider-accordion-header {
  @include flexbox();
  position: relative;

  .slider-accordion-header-trigger-wrapper {
    @include flexbox();
    width: 100%;
    border: none;
    padding: 8px;
    text-align: left;
    background: $app-white;
    border-top: 1px solid $border-2;
    cursor: pointer;
  }

}

.slider-accordion-panel {

  & .panel-content {
      padding: 12px 20px 20px 20px;
      margin: 0;
  }

  max-height: 0;
  overflow: hidden;
  background: $background-white-primary;
  transition: max-height 0.5s ease;

  &.active {
    max-height: 150px;
    transition: max-height 0.5s ease-in;
  }
}